
.login{
    margin: 50px;
    display: flex;
    flex-direction: auto;
	background:rgba(203, 229, 255,0.4);
	max-width: 500px;
	padding: 20px;
	border-radius:15px;
}

.login-form{
    flex-direction: column;
}

.login-input{
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 15px;
    color: rgb(214, 157, 0);
    height: 25px;
    outline: 0;
    padding: 15px;
    width: 100%;
}

.login-input:checked,.login-input:focus{
  
    border:none;
    outline: none;
    font-size: 15px;


}

.login-button{
  
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(53, 53, 53);
    border: none;
    padding: 10px 10px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.login-button:focus,.login-button:hover{
    
    background-color: rgb(129, 0, 90);
 
}

.login-item{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;


}

.login-label{
    font-size: 15px;
    margin-right: 25px;
    margin-bottom: 10px;
    color:rgb(255, 255, 255);
    font-weight: 600;
}

